#parse("/template/layout.vm")
#@mainLayout()
    <div class="callout secondary text-center">
        <a class="button" href="tel:123456789">123-456-7890</a>
    </div>
    <div class="callout secondary text-center">
        <a class="button" href="mailto:kevindet@hotmail.com?Subject=Feedback" target="_top">EMail Feedback</a>
    </div>
    <div class="callout secondary text-center">
        <a class="button" href="facetime:123456789">Connect using FaceTime</a>
    </div>


#end