#parse("/template/layout.vm")
#@mainLayout()
    <div class="row">
        <img src="/img/goalkeeper_logo.png" alt="image for article">
    </div>


<script type="text/javascript">
    function Redirect()
    {
        window.location="/login";
    }

    setTimeout('Redirect()', 5000);
</script>
#end