#macro(mainLayout)
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goalkeeper</title>

    <link rel="stylesheet" href="/css/foundation.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="/css/app.css" type="text/css">


</head>
<body>

<!-- Start Top Bar -->
<div class="top-menu">
    <div class="top-bar foundation-5-top-bar">
    <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
        <a href="/">
            <strong>GOALkeeper</strong>
        </a>
    </div>


    <div id="responsive-menu">
        <div class="top-bar-left">
            <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown" data-auto-height="true" data-animate-height="true">
                #if($currentUser)
                <li>
                    <a href="#">One</a>
                    <ul class="menu">
                        <li><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li>
                            <a href="#">Three</a>
                            <ul class="menu">
                                <li><a href="#">One</a></li>
                                <li><a href="#">Two</a></li>
                                <li>
                                    <a href="#">Three</a>
                                    <ul class="menu">
                                        <li><a href="#">One</a></li>
                                        <li><a href="#">Two</a></li>
                                        <li><a href="#">Three</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
                #end
                <li><a href="#">Info</a></li>
            </ul>
        </div>
    #if($currentUser)
        <div class="top-bar-right">


            <ul class="menu">
                <li>
                    <a href="#">
                        Hello, $currentUser
                    </a>
                </li>
                <li>
                    <form method="post" action="/logout/">
                        <button class="button">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    #else
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <a href="/login">
                        <button type="button" class="button">Login</button>
                    </a>
                </li>

                <li>
                    <a href="/register">
                        <button type="button" class="button">Register</button>
                    </a>
                </li>
            </ul>
        </div>
    #end
</div>
</div>
</div>
<!-- End Top Bar -->
<!-- Begin Body Content -->


        $bodyContent


<!-- End Body Content -->

<!-- Begin Footer -->


<!-- End Footer -->


<script src="/js/vendor/jquery-2.1.4.min.js"></script>
<script src="/js/vendor/foundation.js"></script>
<script>
    $(document).foundation();

</script>
</body>
</html>

#end
