/* Menu Bar */
.foundation-5-top-bar {
    background: #333;
    color: #fefefe;
}

.foundation-5-top-bar .menu {
    background: #333;
}

.foundation-5-top-bar .menu a {
    color: #fefefe;
}

.foundation-5-top-bar .is-dropdown-submenu {
    border: 0;
}

.foundation-5-top-bar .is-dropdown-submenu-item.opens-right a::after {
    border-color: transparent transparent transparent #fefefe;
}

.foundation-5-top-bar .js-drilldown-back > a::before {
    border-color: transparent #fefefe transparent transparent;
}

.foundation-5-top-bar .is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent #fefefe;
}

.foundation-5-top-bar .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    border-color: #fefefe transparent transparent;
}

/* Register Format */

form .form-icons {
    text-align: center;
}
form .input-group{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
form .form-icons h4 {
    margin-bottom: 1rem;
}

form .form-icons .input-group-label {
    background-color: #1779ba;
    border-color: #1779ba;
}

form .form-icons .input-group-field {
    border-color: #1779ba;
}

form .form-icons .fa {
    color: white;
    width: 1rem;
}

.login-button {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    background-color: #1779ba;
    color: white;
    border-color: #1779ba;
}

.alert-callout-border {
    width: 100%;
    padding: 1.3rem;
    border-left-width: 0.3125rem;
    border-left-color: #cacaca;
}

.alert-callout-border strong {
    color: #0a0a0a;
}

.alert-callout-border .close-button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.alert-callout-border.radius {
    border-radius: 0.6rem;
}

.alert-callout-border.primary {
    border-left-color: #1779ba;
}

.alert-callout-border.primary strong {
    color: #1779ba;
}

.alert-callout-border.secondary {
    border-left-color: #767676;
}

.alert-callout-border.secondary strong {
    color: #767676;
}

.alert-callout-border.alert {
    border-left-color: #cc4b37;
}

.alert-callout-border.alert strong {
    color: #cc4b37;
}

.alert-callout-border.success {
    border-left-color: #3adb76;
}

.alert-callout-border.success strong {
    color: #3adb76;
}

.alert-callout-border.warning {
    border-left-color: #ffae00;
}

.alert-callout-border.warning strong {
    color: #ffae00;
}



