/* Menu Bar */
.foundation-5-top-bar {
    background: #333;
    color: #fefefe;
}

.foundation-5-top-bar .menu {
    background: #333;
}

.foundation-5-top-bar .menu a {
    color: #fefefe;
}

.foundation-5-top-bar .is-dropdown-submenu {
    border: 0;
}

.foundation-5-top-bar .is-dropdown-submenu-item.opens-right a::after {
    border-color: transparent transparent transparent #fefefe;
}

.foundation-5-top-bar .js-drilldown-back > a::before {
    border-color: transparent #fefefe transparent transparent;
}

.foundation-5-top-bar .is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent #fefefe;
}

.foundation-5-top-bar .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    border-color: #fefefe transparent transparent;
}

.foundation-5-top-bar .menu a i{
    color: #1779ba;
}



/* Register Format */

form .form-icons {
    text-align: center;
}
form .input-group{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
form .form-icons h4 {
    margin-bottom: 1rem;
}

form .form-icons .input-group-label {
    background-color: #1779ba;
    border-color: #1779ba;
}

form .form-icons .input-group-field {
    border-color: #1779ba;
}

form .form-icons .fa {
    color: white;
    width: 1rem;
}

.login-button {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    background-color: #1779ba;
    color: white;
    border-color: #1779ba;
}

.alert-callout-border {
    width: 100%;
    padding: 1.3rem;
    border-left-width: 0.3125rem;
    border-left-color: #cacaca;
}

.alert-callout-border strong {
    color: #0a0a0a;
}

.alert-callout-border .close-button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.alert-callout-border.radius {
    border-radius: 0.6rem;
}

.alert-callout-border.primary {
    border-left-color: #1779ba;
}

.alert-callout-border.primary strong {
    color: #1779ba;
}

.alert-callout-border.secondary {
    border-left-color: #767676;
}

.alert-callout-border.secondary strong {
    color: #767676;
}

.alert-callout-border.alert {
    border-left-color: #cc4b37;
}

.alert-callout-border.alert strong {
    color: #cc4b37;
}

.alert-callout-border.success {
    border-left-color: #3adb76;
}

.alert-callout-border.success strong {
    color: #3adb76;
}

.alert-callout-border.warning {
    border-left-color: #ffae00;
}

.alert-callout-border.warning strong {
    color: #ffae00;
}


/* Footer Meenu */

.mobile-app-icon-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background: #fefefe;
}

.mobile-app-icon-bar button {
    padding: 1.25rem;
    cursor: pointer;
}

.mobile-app-icon-bar button svg,
.mobile-app-icon-bar button i,
.mobile-app-icon-bar button img {
    font-size: 2rem;
    max-height: 2rem;
    max-width: 2rem;
}

.list-group {
    margin-bottom: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    background: #fefefe;
    box-shadow: none;
    overflow: hidden;
    color: #0a0a0a;
}

.list-group > :last-child {
    margin-bottom: 0;
}

.list-group-item {
    padding: 1rem;
    border-bottom: 1px solid #e6e6e6;
}

.list-group-item > :last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.list-group-item.active {
    color: #fefefe;
    background-color: #1779ba;
    border-color: 1px solid #1779ba;
}

.list-group-item:hover, .list-group-item:focus {
    background-color: #e6e6e6;
}

.list-group-item:hover.active, .list-group-item:focus.active {
    background-color: #1779ba;
}

.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus, .list-group-item[disabled], .list-group-item[disabled]:hover, .list-group-item[disabled]:focus {
    color: #8a8a8a;
    cursor: not-allowed;
    background-color: #fefefe;
}


/* Start Question CSS */

.contact-us-section {
    padding: 2rem;
    background: #fefefe;
}

.contact-us-section .contact-us-section-left {
    padding-right: 2rem;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

@media print, screen and (min-width: 40em) {
    .contact-us-section .contact-us-section-left {
        border-right: 1px solid #e6e6e6;
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.contact-us-section .contact-us-section-right {
    padding-left: 2rem;
}

@media print, screen and (min-width: 40em) {
    .contact-us-section .contact-us-section-right {
        border-left: 1px solid #e6e6e6;
    }
}

.contact-us-section .contact-us-header {
    margin-bottom: 2rem;
}

@media screen and (min-width: 40em) and (max-width: 74.9375em) {
    .contact-us-section .contact-us-header {
        font-size: 32px;
    }
}

.contact-us-section .responsive-embed {
    margin-bottom: 0;
    padding-bottom: 55%;
}

.contact-us-form input[type=text],
.contact-us-form input[type=email],
.contact-us-form textarea {
    margin-bottom: 1.5rem;
}

.contact-us-form-actions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact-us-form-actions input[type=submit] {
    padding-left: 2rem;
    padding-right: 2rem;
}

.contact-us-form-actions .contact-us-file-button {
    background: transparent;
    color: #8a8a8a;
}

.contact-us-list {
    list-style-type: none;
    margin: 0;
}

.contact-us-list li a {
    color: #0a0a0a;
}

.contact-us-list li::before {
    margin-right: 2rem;
    font-size: 2rem;
    vertical-align: middle;
    color: #8a8a8a;
    font-family: 'FontAwesome';
}

.contact-us-list .address::before {
    content: '\f041';
    margin-left: 0.4rem;
    margin-right: 2.3rem;
}

.contact-us-list .email::before {
    content: '\f003';
}

.contact-us-list .phone::before {
    content: '\f098';
}


/* End Question CSS */

.input.login-button {
    border:transparent;
    padding-bottom:1px;
}
